.menu-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background:#352A28;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Rubik-Black', sans-serif;
  }
  .menu-button {
    width: 200px;
    height: fit-content;
    font-weight: light;
    color: #ECECE0;
  }
  .overview-cards {
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
    display: flex;
    background: #ECECE0;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .report-header {
    color: #ECECE0;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: xx-large;
  }
  .overview-header {
    color: #352A28;
    font-size: small;
    width: 30%;
    font-family: 'Rubik-Medium', sans-serif;
  }
  .overview-subheader {
    font-size: x-large;
    font-family: 'Rubik-Black', sans-serif;
    color: #FF733A;
  }
  .overview-header-1 {
    color: #352A28;
    font-size: small;
    width: 40%;
    font-family: 'Rubik-Medium', sans-serif;
  }

  .overview-subheader-1 {
    font-size: xx-large;
    font-family: 'Rubik-Black', sans-serif;
    color: #FF733A;
  }
  .overview-tab {
    ion-card {
    background: #352A28;
    }
  }
  #myChart {
    height: 300px;
    width: 300px;
  }