.sub-view {
  width: 100%;
}

.main-view {
  width: 100%;
}
.menu-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background:#352A28;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: 'Rubik-Black', sans-serif;
}
.menu-button {
  width: 200px;
  height: fit-content;
  font-weight: light;
  color: white;
}
.image-prod {
  padding: 5px;
  width: 100%;
  height: 180px ;
  border-radius: 10px;
}

h2 {
  color: #ECECE0;
  font-size: 20px;
  font-family: 'Rubik-Bold', sans-serif;
  white-space: nowrap;
  overflow: clip;
  text-overflow: clip;
}

h3 {
  color: #ECECE0;
  font-size: 20px;
  font-family: 'Rubik-Medium', sans-serif;
  white-space: nowrap;
  overflow: clip;
  text-overflow: clip;
}

#card-products {
  width: 200px;
  height: 260px;
  background-color: #352A28;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.custom-column {
  height: 50vh;
}

ion-fab-button {
  --background: #352A28;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {

}

@media only screen and (min-width: 1367px) and (orientation: landscape) {

}

