.card-checkout {
  margin: 50px;
  ion-card {
    background: #352A28;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.card-checkout-details {
  ion-card-title {
    font-family: 'Rubik-Black', sans-serif;
    color: #ECECE0;
  }
  h1, h2 {
    font-family: 'Rubik-Medium', sans-serif;
    color: #ECECE0;
  }
  .product-details {
    height: 50%;
    width: 100%;
  }
}

.card-userDetails {
  h3, ion-input {
    font-family: 'Rubik-Medium', sans-serif;
    color: #ECECE0;
  }
  .payment-block {
    margin: 20px;
  }
}

.checkout-img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.total-text {
  font-family: 'Rubik-Bold', sans-serif;
  color: #ECECE0;
}

.qr-icon {
  font-size: 100px;
}

.loyalty-header {
  font-family: 'Rubik-Bold', sans-serif;
  color: #ECECE0;
}

.loyalty-subheader {
  font-family: 'Rubik-Medium', sans-serif;
  color: #ECECE0;
}