<ion-header>
  <ion-toolbar>
    <ion-icon (click)="menu()" slot="start" size="large" name="arrow-back-outline"></ion-icon>
    <ion-title>
      <img src="assets\logo_patsy.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-checkout">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="sub-card1" size="6">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Checkout:</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row *ngFor="let check of checkoutProducts; let i = index" size="8" size="3">
                      <ion-col size="3">
                        <img class="checkout-img" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                      </ion-col>
                      <ion-col size="6">
                        <h2>Product Name:</h2>
                        <h2>{{check.cartName}}</h2>
                        <h2>Product Cost:</h2>
                        <h2>{{check.cartCost}}</h2>
                      </ion-col>
                  </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col class="sub-card2" size="6">
              <ion-card>
                <ion-card-content>
                  <div class="payment-block">
                  <h3><span>Payment Mode</span></h3>
                  <ion-segment color="success" [(ngModel)]="checkoutDetails.transactionType">
                    <ion-segment-button value="Cash">
                      <ion-label>Cash</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="Gcash">
                      <ion-label>Gcash</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                  </div>
                  <div classs="payment-details">
                  <h3 class="divider"><span>Buyer Details</span></h3>
                  <ion-input [(ngModel)]="checkoutDetails.checkoutCustomer"
                  aria-label="Custom input"
                  placeholder="Enter Nickname"
                  class="custom"
                  [counter]="true"
                  [maxlength]="20"
                ></ion-input>
                <h3 class="divider"><span>Discount</span></h3>
                <ion-input [(ngModel)]="checkoutDetails.checkoutDiscount" type="number"
                aria-label="Custom input"
                placeholder="Enter Discount Amount"
                class="custom"
                [counter]="true"
                [maxlength]="10"
              ></ion-input>
                  </div>
                  <ion-card-subtitle>TOTAL:</ion-card-subtitle>
                  <ion-card-title> P {{checkoutAmount}}.00</ion-card-title>
                  <ion-button [disabled]="!checkoutDetails.checkoutDiscount || !checkoutDetails.checkoutCustomer || !checkoutDetails.transactionType" (click)="placeOrder()" color="success" expand="block">Place Order</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
