<ion-header>
  <ion-toolbar  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">CANCEL</ion-button>
    </ion-buttons>
    <h1 class="inventory-text">Patsy Loyalty Member</h1>
    <ion-buttons slot="end">
      <ion-button [disabled]="!p_name || !p_fave || !p_date" (click)="add()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-item>
    <ion-input
      [(ngModel)]="p_name"
      class="details-text"
      label="Full Name"
      labelPlacement="floating"
      placeholder="Name"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      [(ngModel)]="p_fave"
      class="details-text"
      label="Favourite Patsy Product"
      labelPlacement="floating"
      placeholder="Favourite"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      id="open-picker"
      [(ngModel)]="p_date"
      class="details-text"
      label="Birthdate"
      labelPlacement="floating"
      placeholder="Birthdate"
    ></ion-input>
    <ion-picker
      trigger="open-picker"
      [columns]="pickerColumns"
      [buttons]="pickerButtons"
    ></ion-picker>
  </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-button
        (click)="reset()"
        class="button-text"
        color="danger"
        fill="clear"
        >Reset</ion-button
      >
    </ion-row>
  </div>
</ion-content>


          



 

