<ion-content>
  <ion-card #cardContent color="light" id="receipt-card">
    <ion-card-header>
        <img src="/assets/patsy_logo.png">
    </ion-card-header>

    <table class="table">
      <tr>
        <td class="table-cell receipt-text-header">Name</td>
        <td class="table-cell receipt-text-subheader">{{ receiptDetails.checkoutCustomer }}</td>
      </tr>
      <tr>
        <td class="table-cell receipt-text-header">Date</td>
        <td class="table-cell receipt-text-subheader">{{ currentDate }}</td>
      </tr>
      <tr>
        <td class="table-cell receipt-text-header">Barista</td>
        <td class="table-cell receipt-text-subheader">{{ currentBarista }}</td>
      </tr>
      <tr>
        <td class="table-cell receipt-text-header"><strong>Total Amount</strong></td>
        <td class="table-cell receipt-text-subheader">₱ {{ checkoutAmount }}.00</td>
      </tr>
    </table>
    <div class="horizontal-line"></div>
    <table class="table">
      <tr>
        <td class="receipt-item-cell receipt-text-header"><strong>Item</strong></td>
        <td class="receipt-cost-cell receipt-text-header"><strong>Cost</strong></td>
      </tr>
      <tr *ngFor="let check of checkoutProducts; let i = index">
        <td class="receipt-item-cell receipt-text-subheader">
          {{check.cartName}} x {{check.cartNumber}}
        </td>
        <td class="receipt-cost-cell receipt-text-subheader">{{check.cartCost}}.00</td>
      </tr>
      <tr>
        <td class="receipt-payment-cell receipt-text-header">Payment Type:</td>
        <td class="receipt-type-cell receipt-text-subheader">{{ receiptDetails.transactionType }}</td>
      </tr>
      <tr>
        <td class="receipt-total-cell receipt-text-header">Paid:</td>
        <td class="receipt-amount-cell receipt-text-subheader">₱ {{ receiptDetails.checkoutPaid }}.00</td>
      </tr>
      <tr>
        <td class="receipt-total-cell receipt-text-header">Change:</td>
        <td class="receipt-amount-cell receipt-text-subheader">₱ {{ receiptDetails.checkoutPaid - checkoutAmount}}.00</td>
      </tr>
      <tr>
        <td class="receipt-total-cell receipt-text-header">Total:</td>
        <td class="receipt-amount-cell receipt-text-subheader">₱ {{ finalAmount }}.00</td>
      </tr>
    </table>
  </ion-card>
  <div class="ion-text-center">
    <a id="downloadLink" style="display: none"></a>
    <ion-button (click)="captureCard()" color="warning"
      >Save as Image</ion-button
    >
    <ion-button (click)="reset()" color="success">Done</ion-button>
  </div>
</ion-content>
