<ion-header>
  <ion-toolbar  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">CANCEL</ion-button>
    </ion-buttons>
    <h1 class="inventory-text">Edit {{productData?.productName}}</h1>
    <ion-buttons slot="end">
      <ion-button (click)="edit()">UPDATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-item>
      <ion-input
      [(ngModel)]="productData.productName"
      label="Name"
      labelPlacement="floating"
      placeholder="Type Product Name"
      class="details-text"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
    class="details-text"
    [(ngModel)]="productData.productCost"
    label="Cost"
    labelPlacement="floating"
    placeholder="Type Product Cost"
  ></ion-input>
  </ion-item>
<ion-item>
  <ion-select
  class="details-text"
  [(ngModel)]="productData.productType"
  label="Product Type"
  label-placement="floating"
  placeholder="Choose Product Type"
  >
    <ion-select-option class="selected-option" value="brewed">Brewed</ion-select-option>
    <ion-select-option class="selected-option" value="espresso">Espresso</ion-select-option>
    <ion-select-option class="selected-option" value="dine-In">Dine-In</ion-select-option>
    <ion-select-option class="selected-option" value="non-Coffee">Non-Coffee</ion-select-option>
    <ion-select-option class="selected-option" value="mocktails">Mocktails</ion-select-option>
    <ion-select-option class="selected-option" value="toasties">Toasties</ion-select-option>
    <ion-select-option class="selected-option" value="specials">Specials</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-item>
    <div style="width: 40%">
      <input
      class="button-text"
      type="file"
      (change)="handleImageUpdate($event)"
      accept="image/*"
    />
  </div>
  <div *ngIf="!isUpdated">
    <img
      [src]="productData.productImage"
      style="width: 50%; padding: 5px"
    />
  </div>
  <div *ngIf="isUpdated">
      <img
        id="imageInput"
        [src]="imageToBeUpdated"
        style="width: 50%; padding: 5px"
      />
  </div>
  </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-row> 
        <ion-button
        color="danger"
          class="button-text"
          fill="clear"
          (click)="deleteButton(productIndex)"
          >DELETE</ion-button
        >
      </ion-row>
    </ion-row>
  </div>
</ion-content>


          



 

