/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
.datatable-header {
  font-family: 'Rubik-bold', sans-serif;
  font-size: xx-large;
  text-align: center;
  background: #1b1514;
}
.datatable-row-odd {
 background: #5d5553;
}
.datatable-row-even {
  background: #493f3e;
 }
.datatable-body-cell {
  margin: 15px;
  text-align: center;
  font-size: large;
  font-family: 'Rubik-medium', sans-serif;
}
.selected-option {
  color: #000000;
  font-family: 'Rubik-Medium', sans-serif;
}
ion-modal {
    --height: 60%;
    --width: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }



.alertMessage .alert-wrapper {
  background-color: #352A28;
  border-radius: 10px;
  width: 600px;
}

.alertMessage .alert-title,
.alertMessage .alert-sub-title,
.alertMessage .alert-button-group,
.alertMessage .alert-message{
  text-align: center;
  display: flex;
  justify-content: center;
  color: #FF733A;
  font-size: 23px;
}

.alertMessage .alert-button-group .alert-button {
  color: white;
  font-size: 20px;
}

  :root {
    --ion-background-color:#FF733A;
  }
  
/* Import Rubik-Regular font */
@font-face {
  font-family: 'Rubik-Regular';
  src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Import Rubik-Black font */
@font-face {
  font-family: 'Rubik-Black';
  src: url('/assets/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

/* Import Rubik-BlackItalic font */
@font-face {
  font-family: 'Rubik-BlackItalic';
  src: url('/assets/fonts/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Import Rubik-Bold font */
@font-face {
  font-family: 'Rubik-Bold';
  src: url('/assets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Import Rubik-BoldItalic font */
@font-face {
  font-family: 'Rubik-BoldItalic';
  src: url('/assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Import Rubik-ExtraBold font */
@font-face {
  font-family: 'Rubik-ExtraBold';
  src: url('/assets/fonts/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

/* Import Rubik-ExtraBoldItalic font */
@font-face {
  font-family: 'Rubik-ExtraBoldItalic';
  src: url('/assets/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Import Rubik-Italic font */
@font-face {
  font-family: 'Rubik-Italic';
  src: url('/assets/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Import Rubik-Light font */
@font-face {
  font-family: 'Rubik-Light';
  src: url('/assets/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Import Rubik-LightItalic font */
@font-face {
  font-family: 'Rubik-LightItalic';
  src: url('/assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Import Rubik-Medium font */
@font-face {
  font-family: 'Rubik-Medium';
  src: url('/assets/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* Import Rubik-MediumItalic font */
@font-face {
  font-family: 'Rubik-MediumItalic';
  src: url('/assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Import Rubik-SemiBold font */
@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('/assets/fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

/* Import Rubik-SemiBoldItalic font */
@font-face {
  font-family: 'Rubik-SemiBoldItalic';
  src: url('/assets/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

