<div class="ion-page" id="main-content">
  <ion-content>
    <ion-grid>
      <!-- Menu -->
      <ion-row>
        <ion-col>
          <div class="ion-text-center menu-buttons">
            <p class="menu-button text-pop">Home</p>
            <p (click)="inventory()" class="menu-button">Inventory</p>
            <p (click)="report()" class="menu-button">Report</p>
            <p (click)="points()" class="menu-button">Points</p>
            <p (click)="exit()" class="menu-button">Exit</p>
          </div>
        </ion-col>
      </ion-row>
      <!-- Transactions -->
      <ion-row>
        <ion-col size="9">
            <div class="top-col">
              <ion-searchbar
                class="patsy_search"
                #searchBar
                (ionInput)="searchProduct(searchBar.value)"
              ></ion-searchbar>
            </div>
          <div class="ion-text-center top-col">
            <ion-button
              (click)="filterProducts('brewed')"
              class="filter-button"
              ><ion-icon name="cafe-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('espresso')"
              class="filter-button"
              ><ion-icon name="water-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('dine-In')"
              class="filter-button"
              ><ion-icon name="nutrition-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('non-Coffee')"
              class="filter-button"
              ><ion-icon name="ice-cream-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('mocktails')"
              class="filter-button"
              ><ion-icon name="beer-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('toasties')"
              class="filter-button"
              ><ion-icon name="pizza-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('specials')"
              class="filter-button"
              ><ion-icon name="heart-outline"></ion-icon></ion-button
            >
            <ion-button
              (click)="filterProducts('all')"
              class="filter-button"
              ><ion-icon name="star-outline"></ion-icon></ion-button
            >
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            <ion-card class="total-card">
              <ion-card-header>
                <h2 class="ion-text-center item-list">TOTAL: P {{totalAmount}}.00</h2>
                
              </ion-card-header>
            </ion-card>
            <ion-button
              class="checkout-button"
              expand="block"
              [disabled]="cartCounter.length === 0"
              (click)="checkout()"
              >Checkout</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
      <!-- Products and Cart -->
      <ion-row>
        <ion-col size="9">
          <!-- Button filter is on -->
          <ion-grid
            *ngIf="isFiltered === 'true' "
            class="ion-align-items-center"
          >
            <ion-row>
              <ion-col
                class="centered-column"
                size="3"
                *ngFor="let prod of filteredProducts"
              >
              <div (click)="openProductModal(prod.productName, prod.productImage, prod.productCost, prod.productType)" id="card-products">
                <div>
                  <img class="image-prod" [src]="prod.productImage" />
                </div>
                <div class="main-condition">
                  <ion-label>
                    <h1>{{ prod.productName }}</h1>
                    <h2>P {{ prod.productCost }}.00</h2>
                  </ion-label>
                </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Filters are off -->
          <ion-grid
            *ngIf="isFiltered === 'false' "
            class="ion-align-items-center"
          >
            <ion-row>
              <ion-col
                class="centered-column"
                size="3"
                *ngFor="let prod of products"
              >
                <div (click)="openProductModal(prod.productName, prod.productImage, prod.productCost, prod.productType)" id="card-products">
                  <div>
                    <img class="image-prod" [src]="prod.productImage" />
                  </div>
                  <div class="main-condition">
                    <ion-label>
                      <h1>{{ prod.productName }}</h1>
                      <h2>P {{ prod.productCost }}.00</h2>
                    </ion-label>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Search filter is on -->
          <ion-grid
            *ngIf="isFiltered === 'tralse' "
            class="ion-align-items-center"
          >
            <ion-row>
              <ion-col
                class="centered-column"
                size="3"
                *ngFor="let prod of searchedProducts"
              >
              <div (click)="openProductModal(prod.productName, prod.productImage, prod.productCost, prod.productType)" id="card-products">
                <div>
                  <img class="image-prod" [src]="prod.productImage" />
                </div>
                <div class="main-condition">
                  <ion-label>
                    <h1>{{ prod.productName }}</h1>
                    <h2>P {{ prod.productCost }}.00</h2>
                  </ion-label>
                </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="3">
          <ion-list *ngFor="let cart of cartCounter">
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option (click)="editProductModal(cart.cartName, cart.cartNumber)" color="success">Edit</ion-item-option>
              </ion-item-options>
            <ion-item class="item-cart">
              <div slot="start">
                <h1 slot="start" class="cart-name-list">{{cart.cartName}}</h1>
                <h1 slot="end" class="cart-cost-list">P {{cart.cartCost}}.00</h1>
              </div>
              <div slot="end">
                <h1 class="cart-cost-amount" slot="end">x{{cart.cartNumber}}</h1>
              </div>
            </ion-item>
            <ion-item-options>
              <ion-item-option (click)="deleteProduct(cart.cartName)" color="danger">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
