<ion-header>
  <ion-toolbar  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title><h1>{{ modalTitle }}</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="order()">Order</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>Amount</h2>
    <h1>{{amount}}</h1>
    <ion-button (click)="sub()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="add()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>