.qrcode {
    max-width: 100%;
    max-height: 200vh; /* Adjust the height as needed */
    margin-top: 10px;
  }
  
  #receipt-card {
    left: 23%;
    width: 50%;
    padding: 50px;
  }
  
  .margin {
    margin-top: 50px;
  }
  
  ion-button {
    margin: 20px;
  }
  
  .custom-qrcode {
    width: 200px; /* Set the width as needed */
    height: 200px; /* Set the height as needed */
  }
  
  ion-card-content {
    text-align: center;
  }
  
  ion-card {
    background: #362019;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #352A28;
  }
  
  .member-data {
    position: absolute;
    top: 150px;
  }
  
  h1 {
    font-family: 'Rubik-bold', sans-serif;
    color: #352A28;
    font-size: x-large;
  }
  
  .employeeImage {
    width: 220px;
    border-radius: 50%;
    border: 5px solid #FF733A;
    overflow: hidden;
  }